/* p{
    padding: 15px;
    background-color: #535bf2;

    transition: background-color 800ms;
}

p:hover{
    background-color: #e50035;
} */

/* .gradient {
    width: 1895px;
    height: 1060px;
    background: linear-gradient(90deg, #e50000, blue, #e50000);
    background-size: 300% 100%;
    animation: gradient 10s linear infinite;
    margin: 0;
} */

/* @keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 150% 50%;
    }
} */

/* .grad {
    width: 200px;
    height: 80px;
    margin: 0 auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to left top,#adf2f7 10%,  transparent 30%, transparent 70%, #adf2f7 90%);
    border-image-slice: 1;
} */

@font-face {
    font-family: Zlu;
    src: url('./zlu.ttf');
}
.input-div {
    /* background-color: black; */
    padding-bottom: 10px;
    font-family: Zlu, serif;
    font-size: 70px;
}

/* @import url('https://fonts.googleapis.com/css?family=Raleway:200'); */

html, body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  background: url("image/1618500874_4-p-pikselnii-fon-dlya-igri-4.jpg");
  background-size: 100%;
}
#box {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 8px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #b03798, #a537a9, #6a1b94, #3c0e97, #1a0d8f);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.restart {
    /* width: 50px; */
    position: absolute;
    margin: 28%;
    margin-top: 50%;
    background: rgba(0, 0, 0, 0);
    border: none;
}
.img {
    width: 150px;
}



