@font-face {
    font-family: Zlu;
    src: url('../font/zlu.ttf');
}

.input-div, .canvas-div {
    padding-left: 45px;
    padding-right: 45px;
    background-color: #2b2b2b;
}


.input-div {
    padding-bottom: 50px;
    padding-top: 10px;
    margin-bottom: 15px;

    font-family: Zlu, serif;

    background-color: #2b2b2b;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#enter-answer {
    font-size: 40px;
    width: 70%;
    margin-right: 20px;
}

#check-answer {
    font-size: 40px;
    width: 30%;
}

.canvas-div {
    padding-top: 10px;
}

html {
    background-repeat: repeat;
    background-color: #2b2b2b
}
